.container {
  background-color: #42ABED;
  width: 700px; 
  margin: 0 auto;
}

.App {
  width: 612.06026px;
  margin-left: 29px;
  margin-right: 27px;
}

.navBar {
  background-color: #22BCF2;
  display: flex;
}
.navBar a{
  font-size: .5rem;
}

.signinButton {
  background-color: #15BCF3;
  border-radius: 5px;
  width: 50px;
  color: white;
  font-weight: 900;
}

.firstPartOfDiv {
  background-color: #1cb2ef;
}

.bottomDiv {
  background-color: #032735;
}

.whiteText {
  color: white;
}

.bolder {
  font-weight: 900;
}


