.container {
  background-color: #42ABED;
  width: 1200px; 
  margin: 0 auto;
}

.App {
  width: 1049.2461px;
  margin-left: 29px;
  margin-right: 27px;
}

.navBar {
  background-color: #22BCF2;
  display: flex;
}
.navBar a{
  font-size: .75rem;
}
a {
  text-decoration: none; 
}

.signinButton {
  background-color: #15BCF3;
  border-radius: 7px;
  width: 75px;
  color: white;
  font-weight: 900;
  font-size: .75rem;
  height: 30px;
  box-shadow: 1px 1px grey;
  border: 1px solid #15BCF3;
}

.firstPartOfDiv {
  display: flex;
  justify-content: space-between;
  width: 250px; 
  margin-left: 21px;
}

.firstPartText {
  font-weight: 900;
  font-size: .75rem;
}

.secondPartDiv {
  margin-left: 140px;
  display: flex; 
  justify-content: space-between;
  width: 600px;
  align-items: center;
}

.bottomDiv {
  background-color: #032735;
  color: #167EA9;
  display: flex;
  justify-content: space-between;
}

.whiteText {
  color: white;
}

.bolder {
  font-weight: 900;
}

ul {
  list-style: none;
}

ul li:before {
  content: '✓';
  color: #FEDD00;
  font-weight: 900;
}

.middlePointDiv {
  width: 100%;
  background-color: #1cb2ef;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("forexcandlesgraph11.PNG");
  position: relative;
}


.positionSpan{
  position: relative;
  left: 5px;
}

.tradeNowButton {
  background-color: #FEDD00;
  font-weight: 900;
  border-radius: 5px;
  height: 40px;
  margin-right: 80px;
}

.underlineOption {
  color: #9DD6F6;
  text-decoration: underline;
}

.bottomTitle {
  text-align: center;
}
.bottomContainer {
  background-color: #032735;
  /* position: relative; */
}

.bigTitle {
  font-size: 12rem;
  /* text-align: center; */
  margin-top: 0;
  margin-bottom: 0;
}

.midTitle {
  font-size: 2rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;

}

.littleScript {
  font-size: 1rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.optionsDiv {
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
}

.gadget {
  width: 75px; 
  height: 190px;
  background-color: #0C5F87;
  position: absolute;
  top: 0;
  left: 12%;
  opacity: 0.5;
}
.gadget ul {
  list-style: none;
}
.gadgetUl {
  list-style: none; 
}

.gadgetHeader {
  color: #1C99C6;
  font-weight: 900; 
}

.lightBlue {
  color: #06A4AD;
}

.yellowText {
  color: #FEDD00;
}

.gadget p {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: .75rem;
}

.secondNav {
  display:flex;
  justify-content: space-between
}

.secondNav p {
  margin-right: 5px;
}

.darkBlack {
  color: black;
}

.column1 {
  /* position: absolute; */
  /* top: -12%; */
  width: 33%;
  margin-right: 30px;
  padding-left: 30px;
  
}
.column1Underneath {
  background-color: #1cb2ef;
  
}

.column1Underneath p {
  margin-top:  0px;
  margin-bottom: 0px;
}
.column2 {
  /* width: 33%; */
}

.column3 {
  /* width: 33%; */
}

.sectionOff {
  display: flex;
  justify-content: space-between;
}

.holdArrows {
  display: flex;
}

.arrows {
  font-size: .5rem;
}

.medNumber {
  font-size: 1.5rem;
}

.buyButton {
  background-color: #15BCF3;
}

.sellButton {
  background-color: #FEDD00;
}

