.container {
  background-color: #42ABED;
  width: 1200px; 
  margin: 0 auto;
}

.App {
  width: 1049.2461px;
  margin-left: 29px;
  margin-right: 27px;
}

.navBar {
  background-color: #22BCF2;
  display: flex;
}
.navBar a{
  font-size: .75rem;
}
a {
  text-decoration: none; 
}

.signinButton {
  background-color: #15BCF3;
  border-radius: 5px;
  width: 75px;
  color: white;
  font-weight: 900;
  font-size: .75rem;
}

.firstPartOfDiv {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  width: 250px; 
  margin-left: 21px;
}

.firstPartText {
  font-weight: 900;
  font-size: .75rem;
}

.secondPartDiv {
  margin-left: 140px;
  display: flex; 
  justify-content: space-between;
  width: 600px;
  align-items: center;
}

.bottomDiv {
  background-color: #032735;
  color: #167EA9;
}

.whiteText {
  color: white;
}

.bolder {
  font-weight: 900;
}

ul {
  list-style: none;
}

ul li:before {
  content: '✓';
  color: #FEDD00;
  font-weight: 900;
}

.middlePointDiv {
  background-color: #1cb2ef;
}


.positionSpan{
  position: relative;
  left: 5px;
}
